body {
    background-color:  #F5F7FA;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    width: 1280px;
}

p {
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

h4 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
}

li {
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.work-experience .subtitle {
    color: #FB6D3A;
}

.sidebar {
    width: 370px;
}

.main-content {
    width: calc(100% - 370px);
}